* {
    font-family: "Pixelify Sans", sans-serif;
}

.iniciar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.img-iniciar {
    width: 20%;
    cursor: pointer;
}

.introducao {
    position: relative;
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.caixa-boss {
    position: relative;
    display: flex;
    align-items: center;

    position: absolute;
    top: -180%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.introducao_Hiitsumo {
    padding: 0px 15px 0px 15px;
    line-height: 1.4;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.boss-dialogo {
    padding: 0px 15px 0px 15px;
    line-height: 1.4;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.Hiitsumo-inicial {
    display: none;
    width: 400px;
}

.caixa-dialogo {
    display: none;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
    min-width: 1px;
    max-width: 360px;
    padding-left: 5px;
    border: 4px solid #c9780e;
    background-color: black;
    color: white;
    cursor: pointer;
}

.caixa-dialogo-boss {
    display: none;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
    min-width: 1px;
    max-width: 360px;
    padding-left: 5px;
    border: 4px solid #c9780e;
    background-color: black;
    color: white;
    cursor: pointer;
}

.opcaoB {
    margin-top: 10px;
}

.opcoes button {
    display: none;
    width: 350px;
    min-height: 85px;
    border: 4px solid #ffd969;
    background-color: #000000;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.opcoes button:hover {
    background-color: #c2950d;
    transform: scale(1.05);
}

.carregar{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -1%;
    z-index: 5;
}

.maquina{
    width: 550px;
}

.titulo{
    position: fixed;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.img-titulo{
    width: 850px;
}

.fundo{
    position: fixed;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

body {
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: auto;
    overflow-y: auto;
    user-select: none;
}

.Hiitsumo {
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 5%;
    cursor: pointer;
    z-index: 1;
}

.dica {
    position: fixed;
    left: 20px;
    top: 55%;
    min-width: 1px;
    max-width: 320px;
    min-height: 85px;
    border: 4px solid #c9780e;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    transform: translateY(-100%);
    display: none;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
    cursor: pointer;
}

.cabeca {
    margin-top: 10px;
    width: 80px;
    height: auto;
    display: flex;
}

/* Texto da fala */
.fala_Hiitsumo {
    padding: 25px 15px 0px 15px;
    margin: 0;
    line-height: 1.4;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 100%;
    box-sizing: border-box;
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 1000px;
    box-sizing: border-box;
}

.engrenagens {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    transition: opacity 1s ease;
    opacity: 0;
}

.engrenagem {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.engrenagem.verde {
    filter: hue-rotate(90deg);
    transform: scale(1.1);
}



.linha-senha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    max-width: 505px;
    background-color: #000000;
    border: 5px solid #c9780e;
    box-sizing: border-box;
    opacity: 0;
}

.linha-nome {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    width: 100%;
    max-width: 400px;
    background-color: #000000;
    border: 5px solid #c9780e;
    box-sizing: border-box;
}

/* Label */
label {
    color: white;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
}

/* Área do input */
.campo-digitacao, .nome {
    flex: 1;
    display: flex;
    align-items: center;
}

/* Input */
input[type="text"] {
    width: 100%;
    color: white;
    padding: 13px;
    border: none;
    font-size: 18px;
    background-color: transparent;
}

input[type="text"]:focus {
    outline: none;
}

/* Botão */
.enviar {
    padding: 6px 12px;
    width: 90px;
    height: 45px;
    font-size: 20px;
    background-color: #3d3d3d;
    color: white;
    border: none;
    cursor: pointer;
}

.enviar:hover {
    background-color: #969696;
    transform: scale(1.05);
}

.confirmar {
    width: 120px;
    height: 45px;
    font-size: 20px;
    background-color: #c9780e;
    color: white;
    border: none;
    cursor: pointer;
}

.confirmar:hover {
    background-color: #ff8000;
}

.recompensa_final {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 3;
}

#mensagem {
    position: absolute;
    top: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.boss {
    width: 650px;
    cursor: pointer;
}

@keyframes tremerDesfazer {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        filter: none;
    }

    10% {
        transform: translate(-5px, 5px) scale(0.98);
    }

    20% {
        transform: translate(5px, 10px) scale(0.96);
    }

    30% {
        transform: translate(-6px, 15px) scale(0.94);
    }

    40% {
        transform: translate(6px, 20px) scale(0.92);
        filter: brightness(1.1);
    }

    50% {
        transform: translate(-4px, 25px) scale(0.9);
    }

    60% {
        transform: translate(4px, 30px) scale(0.85);
        filter: brightness(1.2) contrast(1.2);
    }

    70% {
        transform: translate(-6px, 40px) scale(0.7);
    }

    80% {
        transform: translate(6px, 50px) scale(0.5);
    }

    90% {
        transform: translate(-3px, 55px) scale(0.4);
        filter: blur(3px);
    }

    100% {
        transform: translate(0, 60px) scale(0.3);
        opacity: 0;
        filter: blur(6px);
    }
}

.boss-derrotado {
    animation: tremerDesfazer 2.4s forwards;
}

@keyframes aparecerTremer {
    0% {
        transform: translate(0, 60px) scale(0.3);
        opacity: 0;
        filter: blur(6px);
    }

    10% {
        transform: translate(-3px, 55px) scale(0.4);
        filter: blur(3px);
    }

    20% {
        transform: translate(6px, 50px) scale(0.5);
    }

    30% {
        transform: translate(-6px, 40px) scale(0.7);
    }

    40% {
        transform: translate(4px, 30px) scale(0.85);
        filter: brightness(1.2) contrast(1.2);
    }

    50% {
        transform: translate(-4px, 25px) scale(0.9);
    }

    60% {
        transform: translate(6px, 20px) scale(0.92);
        filter: brightness(1.1);
    }

    70% {
        transform: translate(-6px, 15px) scale(0.94);
    }

    80% {
        transform: translate(5px, 10px) scale(0.96);
    }

    90% {
        transform: translate(-5px, 5px) scale(0.98);
    }

    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        filter: none;
    }
}

.aparecer {
    animation: aparecerTremer 2.4s forwards;
}

.desaparecer {
    animation: tremerDesfazer 2.4s forwards;
}

@keyframes aparecer {
    0% {
        transform: translateY(60px) scale(0.3);
        opacity: 0;
        filter: blur(6px);
    }

    20% {
        transform: translateY(50px) scale(0.5);
        filter: blur(3px);
    }

    40% {
        transform: translateY(30px) scale(0.85);
        filter: brightness(1.2) contrast(1.2);
    }

    60% {
        transform: translateY(20px) scale(0.92);
        filter: brightness(1.1);
    }

    80% {
        transform: translateY(10px) scale(0.96);
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: none;
    }
}

.aparecer-maquina {
    animation: aparecer 2.4s forwards;
}

@keyframes tremer {
    0%   { transform: translate(0, 0); }
    10%  { transform: translate(-3px, 0); }
    20%  { transform: translate(3px, 0); }
    30%  { transform: translate(-3px, 0); }
    40%  { transform: translate(3px, 0); }
    50%  { transform: translate(-2px, 0); }
    60%  { transform: translate(2px, 0); }
    70%  { transform: translate(-2px, 0); }
    80%  { transform: translate(2px, 0); }
    90%  { transform: translate(-1px, 0); }
    100% { transform: translate(0, 0); }
}

.tremer{
    animation: tremer 0.5s infinite;
}